*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
} 
body{
   height: 100%;
   width: 100%;
   background: linear-gradient(45deg,rgba(37, 38, 39, 0.711),rgb(110, 122, 171),rgb(76, 96, 210),rgb(132, 132, 132)) no-repeat;
   animation: color 10s ease-in-out infinite;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }}

    h1{
        color: aliceblue;
        font-weight: 800;
        margin-left: 15%;
        margin-top: 50px;
    }

  .navbar{
    width: 90%;
    padding: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    width: 160px;
    margin-top: -10px;
    cursor: pointer;
  }
  
  .navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
  }
  
  .navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    padding: 15px;
  }
  li a:hover{
    background: white;
    transition: 0.6s;
  }
  
  .navbar a:hover{
    color: black;
  }

.pag2 img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    height: 300px;
    width: 600px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.pag2{
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 120px;
    margin-top: 60px;
    align-items: center;
}

.pag2 > div{
    flex: 1 1 200px;
    margin: 40px;
}
